{% extends "base.html" %}

{% block content %}
    <h1>Reset Password</h1>
    <form action="" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                <spam class="{{ category }}">{{ error }}</spam>
            </div>
            {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.password_repeat.label }}<br>
            {{ form.password_repeat }}<br>
            {% if form.password_repeat.errors %}
            {% for error in form.password_repeat.errors %}
            <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                <spam class="{{ category }}">{{ error }}</spam>
            </div>
            {% endfor %}
            {% endif %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}