{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block content %}
	<div class="content p-4">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="alert alert-success text-left" role="alert">
                {{ form.title.label() }}
                 {{ form.title(class="form-control",  maxlength="50", value=project.title) }}
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                                <spam class="{{ category }}">{{ error }}</spam>
                            </div>
                        {% endfor %}
                    {% endif %}
                <hr>
               {{ form.description.label() }}
                {{ form.description(class="form-control", style="height:200px; max-height:400px; min-height:200px;", maxlength="490") }}
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                                <spam class="{{ category }}">{{ error }}</spam>
                            </div>
                        {% endfor %}
                    {% endif %}
                <input class="btn btn-primary mt-3" type="submit" value="Change" name="button">
                <input class="btn btn-primary mt-3" type="submit" value="Delete" name="button">
                <p class="mb-0 text-right">{{ project.created_on }}</p>
            </div>
        </form>
        {% for note in notes.items %}
				<a class="" style="text-decoration: none" href="{{ url_for('notes.note', uuid=note.uuid) }}">
                    {% if note.status == "Open" %}
						<div class="alert alert-danger text-left" role="alert">
					{% elif note.status == "In Progress" %}
						<div class="alert alert-primary text-left" role="alert">
					{% elif note.status == "Resolved" %}
						<div class="alert alert-success text-left" role="alert">
					{% else %}
						<div class="alert alert-secondary text-left" role="alert">
					{% endif %}
                        <ul class="m-0 p-0 " style="list-style-type: none;">
						<li><h4 class="nav-item active alert-heading " name="title">{{ note.title }}</h4></li>
                        <li>Status: {{ note.status }}</li>
                        </ul>
                        <hr>
						{% if note.description|length > 0 %}
							<p name="description">{{ note.description }}</p>
							<hr>
						{% endif %}
						<p class="mb-0 text-right">{{ note.created_on }}</p>
					</div>
				</a>
			{% endfor %}
	</div>
{% if notes.items|length > 0 %}
<div class="container mx-auto col-md-4">
	<nav class="">
  <ul class="pagination">
	  {% if notes.has_prev %}
    <li class="page-item"><a class="page-link" href="{{ url_for('projects.project', uuid = project.uuid ,page = notes.prev_num) }}">Previous</a></li>
    <li class="page-item"><a class="page-link" href="{{ url_for('projects.project', uuid = project.uuid, page = notes.prev_num) }}">{{ notes.prev_num }}</a></li>
    <li class="page-item"><a class="page-link" href="{{ url_for('projects.project', uuid = project.uuid, page = notes.page ) }}">{{ notes.page }}</a></li>
	  {% elif notes.has_next %}
      <li class="page-item" style=""><a class="page-link" href="{{ url_for('projects.project', uuid = project.uuid, page = notes.page) }}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="{{ url_for('projects.project', uuid = project.uuid, page = notes.page ) }}">{{ notes.page }}</a></li>
      {% else %}
	  {% endif %}
	  {% if notes.has_next %}
    <li class="page-item"><a class="page-link" href="{{ url_for('projects.project', uuid = project.uuid, page = notes.next_num) }}">{{ notes.next_num }}</a></li>
    <li class="page-item"><a class="page-link" href="{{ url_for('projects.project', uuid = project.uuid, page = notes.next_num) }}">Next</a></li>
	  {% endif %}
  </ul>
</nav>
</div>
{% endif %}
{% endblock %}