{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
	<div class="content p-4">
		{% if notes|length > 0 %}
			{% for some in notes %}
				<a class="" style="text-decoration: none" href="{{ url_for('note', uuid=some.uuid) }}">
					{% if some.status == "Open" %}
						<div class="alert alert-danger text-left" role="alert">
					{% elif some.status == "In Progress" %}
						<div class="alert alert-primary text-left" role="alert">
					{% elif some.status == "Resolved" %}
						<div class="alert alert-success text-left" role="alert">
					{% else %}
						<div class="alert alert-secondary text-left" role="alert">
					{% endif %}
							<h4 class="nav-item active alert-heading" name="title">{{ some.title }}</h4>
						<hr>
						{% if some.description|length > 0 %}
							<p name="description">{{ some.description }}</p>
							<hr>
						{% endif %}
						<p class="mb-0 text-right">{{ some.created_on }}</p>
					</div>
				</a>
			{% endfor %}
		{% else %}
			You don't have any <a class="badge badge-primary" href="/add_note">notes</a>
		{% endif %}
	</div>
{% endblock %}