{% extends "base.html" %}
{% block content %}
 <div class="p-3 mx-auto bg-light border border-primary text-left rounded col-md-8">
       <form action="" method="post">
      {{ form.csrf_token }}
      <p class="p-0 m-0">
          {{ form.title.label() }}
      </p>
         {{ form.title(class="form-control",  maxlength="50") }}
      </p>
      <p class="p-0 m-0">
          {{ form.description.label() }}
      </p>
           {{ form.description(class="form-control", style="width: 662px; height:200px; max-height:400px;", maxlength="490") }}
      <p>
          {{ form.submit(class="btn btn-primary mt-3") }}
      </p>
        </form>
 </div>
{% endblock %}

