{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
    <div class="w-25 p-3 mx-auto bg-light border border-primary rounded col-md-4">
        <form action="" method="post">
        {{ form.csrf_token }}
        <p>
          {{ form.username.label() }}
          {{ form.username() }}
        </p>
        <p>
          {{ form.password.label() }}
          {{ form.password() }}
        </p>
        <p>
        <div class="form-check">
            {{ form.remember.label() }}
            {{ form.remember() }}
        </div>
        </p>
        <p>
          {{ form.submit() }}
        </p>
        </form>
    </div>
    {% for category, message in  get_flashed_messages(with_categories=true) %}
        <div class="alert alert-danger mx-auto w-25 p-3 mt-3" role="alert">
            <spam class="{{ category }}">{{ message }}</spam>
        </div>
    {% endfor %}

{% endblock %}

