{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
	<div class="content p-4">
	{% if session['user_id'] %}
		{% if notes|length >= 1 %}
			{% for some in notes %}
				<div class="alert alert-success text-left" role="alert">
					<h4 class="alert-heading">{{ some.title }}</h4>
					<hr>
					<p>{{ some.description }}</p>
					<hr>
					<p class="mb-0 text-right">{{ some.created_on }}</p>
				</div>
			{% endfor %}
		{% else %}
		You don't have any <a class="badge badge-primary" href="/add_note">notes</a>
		{% endif %}
	{% else %}
	You are not logged in. <a href = "/login"> Log in </a> or <a href = "/registration"> Sign up </a>
	{% endif %}
	</div>
{% endblock %}