{% extends "base.html" %}
{% block title %} Statistics{% endblock %}
{% block content %}
<style>
   td:hover {
    text-decoration: underline;
   }
</style>
 <table class="table" width="100%" cellpadding="5">
    <thead>
     <tr>
    <th scope="col">Project</th>
    <th scope="col">Open</th>
    <th scope="col">In Progress</th>
    <th scope="col">Resolved</th>
    <th scope="col">Closed</th>
   </tr>
    </thead>
 <tbody>
 {% for project, value in stat.items() %}
    <tr onclick="window.location.href='{{ url_for('projects.statistics_for_project_page', uuid=value['uuid']) }}'; return false">
    <td >{{ project }}</a></td>
    {% if value["Open"] %}
        <td style="cursor: pointer">{{ value["Open"] }}</td>
    {% else %}
        <td style="cursor: pointer">0</td>
    {% endif %}
    {% if value["In Progress"] %}
        <td style="cursor: pointer">{{ value["In Progress"] }}</td>
    {% else %}
        <td style="cursor: pointer">0</td>
    {% endif %}
    {% if value["Resolved"] %}
        <td style="cursor: pointer">{{ value["Resolved"] }}</td>
    {% else %}
        <td style="cursor: pointer">0</td>
    {% endif %}
    {% if value["Closed"] %}
        <td style="cursor: pointer">{{ value["Closed"] }}</td>
    {% else %}
        <td style="cursor: pointer">0</td>
    {% endif %}

    </tr>
    {% endfor %}
 </tbody>

 </table>

{% endblock %}

