{% extends "base.html" %}
{% block title %}Note{% endblock %}
{% block content %}
	<div class="content p-4">
	{% if session['user_id'] %}
        <form method="POST">
            {{ form.csrf_token }}
            <div class="alert alert-success text-left" role="alert">
                {{ form.title.label() }}
                {{ form.title(class="form-control",  maxlength="50", value=note.title) }}
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                                <spam class="{{ category }}">{{ error }}</spam>
                            </div>
                        {% endfor %}
                    {% endif %}
                <hr>
               {{ form.description.label() }}
                {{ form.description(class="form-control", style="height:200px; max-height:400px; min-height:200px;", maxlength="490") }}
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                                <spam class="{{ category }}">{{ error }}</spam>
                            </div>
                        {% endfor %}
                    {% endif %}
                <input class="btn btn-primary mt-3" type="submit" value="Change" name="button">
                <input class="btn btn-primary mt-3" type="submit" value="Delete" name="button">
                <p class="mb-0 text-right">{{ note.created_on }}</p>
            </div>
        </form>
	{% else %}
	You are not logged in. <a href = "/login"> Log in </a> or <a href = "/registration"> Sign up </a>
	{% endif %}
	</div>
{% endblock %}