{% extends 'base.html' %}
{% block title %}AngularJS{% endblock %}
{% block content %}
<body ng-app="App">
    <div class="panel" ng-controller="Controller">
    {% raw %}
       <div ng-repeat="button in modes">
           <label>
               <input type="radio" ng-model="data.mode" value="{{button.value}}" name="modes"/>
                {{button.label}}
           </label>
        </div>
    <hr>
        <div ng-include="getList(data.mode)"></div>
    </div>
</body>
    {% endraw %}
{% endblock %}