<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="../../static/plugins/Chart.min.js"></script>
    <script src="../../static/plugins/jquery.min.js"></script>
    <script src="../../static/plugins/bootstrap.min.js"></script>
    <script src="../../static/plugins/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="../../static/angular/app.js"></script>
    <script src="../../static/angular/controllers/controller.js"></script>
    <script src="../../static/angular/service.js"></script>
    <script src="../../static/angular/directives/validators/validatePhoneModel.js"></script>


    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        {% if session['user_id'] %}
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link active" href="{{ url_for('notes.notes_page') }}">Notes</a></li>
            <li><a class="nav-link active" href="{{ url_for('projects.projects_page') }}">Projects</a></li>
            <li><a class="nav-link active" href="{{ url_for('notes.add_note') }}">Add Note</a></li>
            <li><a class="nav-link active" href="{{ url_for('projects.add_project') }}">Add Project</a></li>
            <li><a class="nav-link active" href="{{ url_for('projects.statistics_page') }}">Statistics</a></li>
            <li><a class="nav-link active" href="{{ url_for('angular.angular_main_page') }}">Angular</a></li>
            <li><a class="nav-link active" href="{{ url_for('users.basket_page') }}">Basket</a></li>
            <li><a class="nav-link active" href="{{ url_for('product.products_page') }}">Products</a></li>
            <li><a class="nav-link active" href="{{ url_for('product.add_product') }}">Add Products</a></li>
        </ul>
        {% else %}
            <a class="nav-link active" href="{{ url_for('notes.notes_page') }}">Notes</a>
        {% endif %}
        <ul class="navbar-nav ml-auto">
    {% if not session['user_id'] %} <li class="nav-item active">
        <a class="w-auto h-auto nav-link" href="{{ url_for('auth.registration') }}">Registration</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </li>{% endif %}
    {% if session['user_id'] %} <li class="nav-item active ml-auto">
        <li class="nav-item active ml-auto">
        <a class="nav-link" data-toggle="modal" data-target="#logout">Logout</a>
      </li>
      {% endif %}
    </ul>
    </nav>
</head>
<body>
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logout_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logout_label">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that you want logout?
      </div>
        <div class="modal-footer">
            <a href="{{ url_for('auth.logout') }}"><button type="button" class="btn btn-primary">Logout</button></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <div class="container text-center p-5 mt-5" style="min-height: 90vh;" id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
        <span class="text-muted">This is footer</span>
        </div>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>